<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>游记详情</title><link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="icon" href="/ssm_demo/images/mafengwo.ico">

    <link rel="stylesheet" href="/ssm_demo/css/note/write.css">

    <script type="text/javascript" charset="utf-8" src="/ssm_demo/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ssm_demo/ueditor/ueditor.all.js"> </script>

    <script type="text/javascript" charset="utf-8" src="/ssm_demo/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script src="/ssm_demo/js/ajaxfileupload.js"></script>
    <script type="text/javascript" src="/ssm_demo/js/include.js"></script>
    <script src="/ssm_demo/js/jquery.form.js"></script>
    <script src="/ssm_demo/js/date.format.js"></script>




</head>
<body>
<div id="header"></div>

<!-- 2. 设置游记头图-->
<div class="note_title" style="margin-left:200px;margin-top:50px;margin-bottom:50px;font-size: 28px;font-weight: bold"></div>
<div class="set-note-bg">
    <div class="set-bg-comp">

        <!-- 显示游记头图  -->
    </div>
</div>


<div style="width: 80%;margin: 0 auto;margin-top: 40px">

    <!--游记详情 -->

    <div id="note_detail" style="margin-top: 50px;margin-bottom: 50px">


        <div class="note_relative" style="margin-bottom: 80px">
            <label class="note_rel_list" style="font-weight: bold;font-size:16px;color: darkslategray">出游日期</label>
            <span class="noteTripDate"  style="margin-right: 20px"></span>

            <label class="note_rel_list" style="font-weight: bold;font-size:16px;color: darkslategray">出游天数：</label>
            <span class="noteTripDays" style="margin-right: 20px"></span><span style="margin-right: 5px">天</span>

            <label class="note_rel_list" style="font-weight: bold;font-size:16px;color: darkslategray">出游伙伴：</label>
            <span class="notePartner" ></span><span style="margin-right: 5px"></span>

            <label class="note_rel_list" style="font-weight: bold;font-size:16px;color: darkslategray">人均消费：</label>
            <span class="noteAvgCost"  ></span><span>元</span>

        </div>

        <div class="note_content"></div>

    </div>




<!-- 4. 底部-->

</div>
    <script src="/ssm_demo/js/note/detail.js"></script>
</body>
</html>